{% extends 'base.html' %}

{% block title %}
 Create News
{% endblock %}

{% block css_files %}

{% endblock %}


{% block content %}
{#    <div>#}
{#        <a href="{% url 'main' %}">Hyper News</a>#}
{#    </div>#}

    <div class="container mt-5">
        <form action="" method="POST">
        {% csrf_token %}
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input class="form-control" type="text" name="title" id="" placeholder="Enter news title">
            </div>
            <div class="form-group mb-3">
                <label for="message">Text</label>
                <textarea class="form-control" id="message" rows="3" name="text"></textarea>
{#                <input class="form-control" type="text" name="text" id="" placeholder="Enter news"><br>#}
            </div>
            <button class="btn btn-primary btn-block" type="submit">Create News</button>

        </form>
    </div>
{% endblock %}